<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="currentProject.id; else elseCreateNew">
      <h1>
        {{ originalTitle }}
      </h1>
    </mat-card-title>
    <ng-template #elseCreateNew>
      <h1>Create a New Project</h1>
    </ng-template>
  </mat-card-header>
  <form (submit)="saved.emit(currentProject)" [formGroup]="form" #formdirective="ngForm" (ngSubmit)="submitForm(formdirective)">
    <mat-card-content>

      <mat-form-field class="full-width">
        <input matInput placeholder="Title" type="text" name="title" formControlName="title">
      </mat-form-field>

      <mat-form-field class="full-width">
      <textarea matInput placeholder="Details" type="text" name="details" formControlName="details"></textarea>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary"
      [disabled]="form.invalid">{{ currentProject.id ? 'Update' : 'Create' }}</button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
